<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--Para vincular fuente Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!--Para linkear iconos-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <!--Para vincular HTML y CSS. Va abajo de los demas links de estilo-->
    <link rel="stylesheet" href="/css/styles.css" />

    <!--Para agregar logo en la pestaña-->
    <link rel="icon" href="img/logo-mercado-liebre.svg" />

    <title>Mercado Liebre</title>
  </head>

  <body>
    <!--Inicio del header-->
    <header>
      <section class="top-header">
        <div class="logo-and-form">
          <div class="logo">
            <a href="/home"
              ><img
                src="img/logo-mercado-liebre.svg"
                alt="Logo de MercadoLiebre"
            /></a>
          </div>
        </div>
        <div class="form" action="#" method="GET">
          <input
            type="text"
            class="input"
            placeholder="Buscar productos, marcas y más"
          />
          <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <p>
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </section>
      <nav class="links">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register"
              >Crea tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>

      <section class="burger-container">
        <a class="burguer-menu" href="#"><i class="fa fa-bars burger"></i></a>
      </section>
    </header>
    <!--Final del header-->

    <!--Inicio del main-->
    <main>

      <form action="/" method="POST" class="register">

        <section>
          <div>
            <h3 class="h3-register">Registrarse</h3>
          </div>
        </section>


        
        
        <section class="register-name">
          <div class="form-section"></div>
            <input
              type="text"
              name="name"
              placeholder="Nombre y apellido"
              minlength="4"
              required
            />
          </div>
        </section>




        <section class="register-user">
          <div class="form-section">
            <input
              type="text"
              name="name"
              placeholder="Nombre de usuario"
              minlength="4"
              required
            />
          </div>
        </section>



        <section class="register-email">
          <div class="form-section">
            <input type="email" name="email" placeholder="Email" required />
          </div>
        </section>

        


        <section class="register-birthday">
          <div class="form-section">
            <label for="date"><b> Fecha de nacimiento </b></label>
            <br>
            <input type="date" name="date" required />
          </div>
        </section>



        <section class="adress">
          <div class="form-section">
            <label for="text"><b> Domicilio </b></label>
            <br>
            <input
              type="text"
              name="name"
              placeholder="Domicilio"
              minlength="4"
              required
            />
          </div>
        </section>  




        <section class="register-user-profile">
          <div class="form-section-rc">
            <label for="term"><b>  Perfil de usuario </b> </label>
   
            <div>
              <input type="radio" name="term" value="buy" required />
              <label for="buy"> Comprador </label>
            </div>
  
            <div>
              <input type="radio" name="term" value="sell" required />
              <label for="sell"> Vendedor </label>
            </div>
          </div>
        </section>
    



        <section>
          <div class="form-section-rc">
            <label for="hobbies"><b> Intereses </b></label>
    
            <div>
              <input type="checkbox" name="hobbies" value="1" />
              <label for="1"> Electro </label>
            </div>
  
            <div>
              <input type="checkbox" name="hobbies" value="2" />
              <label for="2"> Moda </label>
            </div>
  
            <div>
              <input type="checkbox" name="hobbies" value="3" />
              <label for="3"> Hogar </label>
            </div>
  
            <div>
              <input type="checkbox" name="hobbies" value="4" />
              <label for="4"> Jugueteria </label>
            </div>
  
            <div>
              <input type="checkbox" name="hobbies" value="4" />
              <label for="5"> Vida Sana </label>
            </div>
          </div>
        </section>




        <section class="register-pfp">
          <div class="form-section-photo" id="img">
            <br>
            <input type="file" name="img" accept="image/*" />
          </div>
        </section>




        <section class="register-password">
          <div class="form-section">
            <label for="pass"><b> Contraseña </b></label>
            <br>
            <input
              type="password"
              name="pass"
              minlength="6"
              maxlength="10"
              required
              placeholder="Contraseña"
            />
          </div>
        </section>



        
        <section class="register-buttons">
          <button type="submit" class="primary"> Enviar </button>
  
          <button type="submit" class="primary"> Borrar </button>
          
        </section>
      </form>
    </main>

    <!--Final del main-->

  <!--Inicio del footer-->
  <footer class="main-footer">
    <section>
      <div class="row-footer">
        <div class="footer-article">
          <article class="footer-info">
            <i class="fas fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
          </article>
        </div>
        <div  class="footer-article">
          <article class="footer-info">
            <i class="fas fa-gift"></i>
            <h2>Envío gratis desde $ 1.999</h2>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
          </article>
        </div>
        <div  class="footer-article">
          <article class="footer-info">
            <i class="fas fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
          </article>
        </div>
      </div>
    </section>
  </footer>
  <!--Final del footer-->
  
  <!--Sub-footer-->
  <section class="sub-footer">
    <div>
      <p>Copyright © MercadoLiebre S.R.L.</p>
    </div>
  </section>
        
</body>
</html>