  
  
  :root {
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666666;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --base-font-family: 'Roboto', sans-serif;
  }


  /*!Selectores universales*/
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }


  /**Reglas generales para el body*/
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
  }

  /**Reglas generales para las p*/
   p {
    font-size: 12px;
  }





  /*!Register*/

  /**H3 register*/
  .h3-register {
    font-size: 22px;
    color: #090909;
    margin-bottom: 20px;
  }

  form.register .form-section-photo {
    text-align: center;
  }





  /*!Login*/

  /**H3 register*/
  .h3-login {
    font-size: 22px;
    color: #090909;
    margin-bottom: 20px;
  }

  /**login buttons*/
  .login-buttons {
    text-align: center;
  }






  /**Hover-register-login*/
  a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }

  form.register {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 50px;
    border-radius: 9px;
    background-color: var(--yellow);
    width: 100%;
    text-align: center;
    text-align: left;
  }

  .form-group input {
    width: 80%;
    height: 36px;
    background-color: #FFF;
    border: none;
    outline: none;
    color: #666;
    padding: 2px;
    overflow: hidden;
    max-height: 30px;
    margin-left: 30px;
    padding-left: 15px;
    border-radius: 4px;
  }

  .form-group,
  .form-group-rc {
    width: 290px;
    display: flex;
    flex-direction: column;
  }

  .form-group-rc div {
    padding-left: 30px;
  }

  .form-section {
    text-align: center;
  }

  .form-group-photo {
    width: 280px;
    position: relative;
    display: inline-block;
  }

  .form-group-photo::before {
    background-color: var(--light-gray);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccione su foto de Perfil';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }

  .form-group-photo input[type="file"] {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 12px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    display: inline-block;
    opacity: 0px;
  }

  #img::before {
    content: 'Seleccione su foto de Perfil';
  }

  .form-group-photo:hover::before{
    background-color: var(--light-blue);
    color: var(--light-gray);
  }

  .primary {
    color: #090909;
    padding: 0.5em 1.5em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
  }

  .primary:hover {
    background-color: #0022AA;
    color: var(--light-gray);
  }

  .form-group input:hover {
    outline: none;
    border: 1px solid var(--light-blue);
  }




  /*!Header-logo-listas*/

  /**Header menos nav y burger*/
  section.top-header {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  /**Para todo el header*/
  header {
    position: fixed;
    z-index: 1000;
    background-color: var(--yellow);
    width: 100%;
  }

  /**Logo*/
  header div.logo {
    min-width: 200px;
    height: auto;
    padding: 10px;
  }

  /**Logo y lupa*/
  .logo-and-form {
    display: flex;
    justify-content: center;
  }

  /**Barra de busqueda*/
  header div.form {
    width: 47%;
    display: flex;
    align-self: center;
    position: relative;
    margin-right: 5px;
  }
  
  /**Barra de busqueda*/
  header .form .input {
    height: 36px;
    background-color: #FFF;
    border: none;
    outline: none;
    color: #666;
    padding: 2px;
    overflow: hidden;
    max-height: 30px;
    border-radius: 4px;
    position: relative;
    right: 0px;
    display: flex;
    position: relative;
    width: 100%;
    font-size: 10px; 
    text-align: center; 
    font-weight: 520;
  }

  /**Lupa*/
  header .form .submit {
    background-color: #FFF;
    border-radius: 0.5em;
    position: absolute;
    color: #666;
    width: 30px;
    height: 30px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -5px;
    top: 0px;
    z-index: 1;
  }

  /**Manito y texto*/
  header section.top-header p {
    margin-top: 18px;
    font-size: 14px;
    position: relative;
    right: -70px;
    top: -10px;
    font-style: italic;
    font-weight: bold;
  }
  
  /**Aplica a todo el nav*/
  header nav.links {
    display: none;
    font-size: 12px;
  }

  /**Nav list li*/
  header ul li {
    list-style-type: none;
  }

  /**Nav list a*/
  header ul li a {
    text-decoration: none;
    color: #666666;;
  }

  .link2 li a i {
    color: #1259c3;
  }

  /**Burguer container*/
  .burger-container {
    padding-bottom: 12px;
  }

  /**Burger menu*/
  .burguer-menu {
    background-color: var(--light-blue);
    border-radius: 8px;
    color: #FFF;
    font-size: 22px;
    padding: 6px 0px;
    max-width: 44px;
    display: block;
    text-align: center;
    margin: auto;
  }

  /**Banner*/
  .banner img {
    width: 100%; 
    margin-top: 170px;
  }




  /*!Main section*/

  /**Main section*/
  main {
    width: 90%;
    margin: 0px auto;
  }
  
  /**Index main titles*/
  main section h3 {
    margin: 20px 0px;
    text-align: center;
    font-size: 24px;
    color: var(--gray);
    color: #666;
  }

  /**Index articles*/
  main section article {
    background-color: #fff;    
    margin: 10px 0px;
  }

  /**Index articles img*/
  main section article img {
    width: 100%;
  }

  /**Index articles i*/
  main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--green);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }

  /**Index articles prices*/
  p.prices {
    font-size: 16px;
    display: inline-block;
    margin-left: 11px;
    font-weight: bold;
    display: none;
    color: #1259c3;

  }

  /**Index articles discounts*/
  p.discounts {
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
    color: #39b54a;
    display: none;
  }


  /**Index articles product names*/
  .descriptions {
    margin-top: 12px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    font-style: italic;
    position: relative;
    top: -7px;
    left: -3px;
  }

  /**Index articles icons and discount*/
  main section article i,
  .discount {
    color: var(--green);
  }
 
  /**Index articles info without img and i*/
  article div.product-description {
    width: 100%;
    border-top: 1px solid var(--light-gray);
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
  }




  /*!Footer y subfooter*/

  /**Main footer*/
  .main-footer {
    background-color: #ffffff;
    padding: 20px 0px;
    margin-top: 80px;
  }
  
  /**Footer article content*/
  .footer-info {
    text-align: center;
  }
  
  /**Footer img*/
  .footer-info i {
    color: var(--light-blue);
    font-size: 2em;
    padding: 10px 0px;
  }

  /**Footer img hover*/
  .footer-info i:hover {
    color: var(--green);
  }

  /**Footer text1*/
  .footer-info h2 {
    color: var(--gray);
    font-size: 1.5em;
    font-weight: 400;
  }
  
  /**Footer text2*/
  .footer-info p {
    color: var(--gray);
    font-size: 1em;
    font-weight: 300;
  } 
  
  /**Sub footer container*/
  .sub-footer {
    border-top: 1px solid var(--light-gray);
    background-color: #ffffff;
  }
  /**Sub footer text*/
  .sub-footer p {
    margin-left: 15px;
    color: var(--gray);
    padding: 15px 0px;
    font-weight: bold;
    font-size: 16px;
  }


  
  
  /*!Querie tablet*/
  
  @media (min-width: 426px) {
    
    /**Basado en tu ultima visita*/
    .title {
      margin-top: 24px;
    }
    
    /**Index product container*/
    .products {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    /**Index products container*/
    .card {
      width: 45%;
    }

    /**Products hover*/
    .card:hover {
     box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    /**Product names hover*/
    .card:hover .descriptions {
      visibility: visible;
    }

    /**Index trucks icons*/
    main section article i {
      transition: transform 0.5s;
    }
  
    /**Index trucks icons*/
    .card:hover i {
      transform: rotate(-90deg);
    }

    /**Index articles prices*/
    .product-description .prices {
      display: inline;
      position: relative;
      bottom: -4px;
      font-weight: normal;
      right: -3px;
      left: 3px;
    }

    /**Index articles discounts*/
    .product-description .discounts {
      display: inline;
      position: relative;
      bottom: -4px;
      left: -3px;
    }

    /**Index product names*/
    .descriptions {
      display: block;
      position: relative;
      top: -2px;
      right: 8px;
    }



    /*?Login*/

    form.register {
      padding-top: 200px;
      width: 90vw;
    }
  }
  



  /*!Querie desktop*/
    @media (min-width: 769px) {
      
    /**Header menos nav y burger*/
    .top-header {
      flex-direction: row;
      margin: 0px 5px 0px 5px;
    }

    /**Header search bar*/
    header .form {
      right: -65px;
      bottom: -11px;
    }
    
    /**Barra de busqueda*/
    header .form .input {
      display: flex;
      width: 130%;
      height: 30px;
      left: 10px;
      text-align: center;
      margin-left: -80px;
      position: relative;
      top: -12px;
    }

    header .form .input {
      font-size: 16px;
    }

    /**Lupa*/
    header .form .submit {
      display: flex;
      height: 27px;
      margin-top: -10px;
      margin-left: -60px;
      z-index: 1;
    }

    /**Hand and text*/
    header section.top-header p {
      display: none;
    }

    /**Nav list*/
    header nav.links {
      display: flex;
      justify-content: space-between;
      margin-right: 4px;
      margin-left: 6px;
      position: relative;
      top: -15px;
      left: 10px;
      padding-top: 10px;
    }
    
    /**Nav list*/
    header ul {
      flex-grow: 0.1;
      display: flex;
      justify-content: space-around;
    }

    /**Nav list 1*/
    .link1 li a {
      font-weight: bold;
      margin-right: 2px;
      font-size: 14px;
    }

    /**Nav list 2*/
    .link2 {
      position: relative;
      left: -20px;
    }

    /**Nav list 2*/
    .link2 a {
      position: relative;
      left: 0px;
      font-weight: bold;
      font-size: 14px;
    }
    
    /**Nav list 2*/
    .link2 li a i {
      margin-left: 2px;
      margin-right: 4px;
    }

    /**Burger menu*/
    .burguer-menu {
      display: none;
    }

    /**Banner*/
    .banner img {
      margin-top: 116px;
    }

    /**Index articles prices*/
    .product-description .prices {
      position: relative;
      left: 3px;
    }

    /**Index articles discounts*/
    .product-description .discounts {
      position: relative;
      text-decoration-line: underline;
    }

    /**Index product names*/
    .descriptions {
      position: relative;
      top: 11px;
      padding-bottom: 5px;
    }
    
    /**Index product description*/
    .card {
      width: 24%;
    } 

    /**All footer content*/
    .main-footer {
      padding: 40px 0px;
      width: 100%;
    }
    
    /**Footer container*/
    .row-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around ;
    }
    
    /**Footer articles*/
    .footer-article {
      display: flex;
      width: 30%;
      justify-content: space-around;
    }
    
    /**Main footer article content*/
    .footer-info {
      width: 95%;
      margin: auto;
    }
    
    /**Footer img*/
    .footer-info i {
      color: var(--light-blue);
      font-size: 2.5em;
    }
    
    /**Footer text 1*/
    .footer-info h2 {
      color: var(--gray);
      font-size: 2em;
      font-weight: 400;
    }

    /**Footer text 2*/
    .footer-info p {
      color: var(--gray);
      font-size: 1.2em;
      font-weight: 300;
    }



    /*?Register*/

    /**Register*/
    form.register {
      padding-top: 120px;
    }

    /**h3 Register*/
    .h3-register{
      padding-top: 12px;
      border-bottom: 2px solid #666666;
      width: 100%;
    }

    /**Register name*/
    .register-name {
      padding: 0px 0px 13px 0px;
    }
    
    /**Register user*/
    .register-user {
      padding: 0px 0px 13px 0px;
    }

    /**Register email*/
    .register-email {
      padding: 0px 0px 13px 0px;
    }

    /**Register birthday*/
    .register-birthday {
      padding: 0px 0px 13px 0px;
    }

    /**Register adress*/
    .register-adress {
      padding: 0px 0px 13px 0px;
    }

    /**Register user profile*/
    .register-user-profile {
      padding: 13px 0px 13px 0px;
    }

    .register-pfp {
      padding: 13px 0px 13px 0px;
    }

    .register-password {
      padding: 0px 0px 13px 0px;
    }

    .register-buttons {
      padding: 0px 0px 13px 0px;
    }

    /**Labels del register*/
    .register label {
      color: #666666;
    }

    /**Inputs del register*/
    .register input {
      text-align: center;
    }



    
    /*?Login*/

    /**Login h3 container*/
    .h3-login-container {
      width: 80%;
      padding-bottom: 20px;
      padding-top: 12px;
      text-align: center;
    }

    /**Login h3 */
    .h3-login {
      border-bottom: 2px solid #666666;
    }

    /**Login username*/
    .login-username {
      text-align: center;
      padding-bottom: 10px;
    }

    /**Login password*/
    .login-password {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    /**Login button1*/
    .login-button1 {
      padding: 20px 0px 0px 0px;
    }

    /**Login button2*/
    .login-button2 {
      padding: 10px 0px 0px 0px;
    }
  }