<!--Inicio del header-->
  <header>
    <section class="top-header">
      <div class="logo-and-form">
        <div class="logo"> 
          <img src="img/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        </div>
      </div>
      <div class="form action="#" method="GET">
        <input type="text" class="input" placeholder="Buscar productos, marcas y más">
        <div class="submit"><i class="fa fa-search"></i></div>
      </div>
      <div>
        <p class="hand-icon-text"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
      </div>
    </section>
    <nav class="links">
      <ul class="link1">
        <li><a href="#" target="_blank">Ofertas</a></li>
        <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
        <li><a href="#" target="_blank">Vender</a></li>
        <li><a href="#" target="_blank">Ayuda</a></li>
      </ul>
      <ul class="link2">
        <li><a href="/register" target="_blank">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
        <li><a href="/login" target="_blank">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#" target="_blank">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>

    <section class="burger-container">
      <a class="burguer-menu" href="#"><i class="fa fa-bars burger"></i></a>
    </section>
  </header>
  <!--Final del header-->